accelerate==0.17.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.5.2
appdirs==1.4.4
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
certifi==2024.12.14
chardet==3.0.4
charset-normalizer==3.4.1
Click==7.0
clip==1.0
cmake==3.30.5
colorama==0.4.3
command-not-found==0.3
conda==4.3.16
contourpy==1.0.7
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
defer==1.0.6
distro==1.9.0
distro-info==0.23+ubuntu1.1
docker-pycreds==0.4.0
duplicity==0.8.12.0
entrypoints==0.3
evdev==1.6.0
exceptiongroup==1.2.2
fail2ban==0.11.1
fasteners==0.14.1
filelock==3.16.1
fmt==0.3.1
fonttools==4.39.0
fsspec==2024.10.0
ftfy==6.1.1
future==0.18.2
gitdb==4.0.10
GitPython==3.1.31
h11==0.14.0
httpcore==1.0.7
httplib2==0.14.0
httpx==0.28.1
hydra-core==1.3.2
idna==3.3
importlib-resources==5.12.0
iotop==0.6
Jinja2==3.1.4
jiter==0.8.0
jsonpatch==1.32
jsonpointer==2.3
keyring==18.0.1
kiwisolver==1.4.4
kornia==0.2.0
kornia_rs==0.1.8
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lpips==0.1.4
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.5
matplotlib==3.7.5
monotonic==1.5
mpmath==1.3.0
netifaces==0.10.4
networkx==3.0
ninja==1.11.1.1
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.1.0
olefile==0.46
omegaconf==2.3.0
openai==1.57.0
opencv-python==4.11.0.86
packaging==23.0
paramiko==2.6.0
pathtools==0.1.2
pexpect==4.6.0
pillow==10.4.0
protobuf==4.22.3
psutil==5.9.4
pybind11==2.13.6
pycairo==1.16.2
pycosat==0.6.3
pycups==1.9.73
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.3.1
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pynput==1.7.6
pyparsing==3.0.9
pyRFC3339==1.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-xlib==0.32
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
regex==2022.10.31
reportlab==3.5.34
requests==2.32.3
requests-unixsocket==0.2.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.10.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
sentry-sdk==1.21.1
setproctitle==1.3.2
simplejson==3.16.0
six==1.14.0
smmap==5.0.0
sniffio==1.3.1
ssh-import-id==5.10
sympy==1.13.3
systemd-python==234
torch==2.1.2+cu118
torchvision==0.16.2+cu118
tornado==6.2
tqdm==4.7.0
triton==2.1.0
typing_extensions==4.12.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==2.2.3
usb-creator==0.3.7
visdom==0.2.4
wadllib==1.3.3
wandb==0.15.0
wcwidth==0.2.6
websocket-client==1.5.1
xkit==0.0.0
zipp==3.15.0
